In [20]:
import pandas as pd

In [21]:
#import the csv files needed for cleaning and organizing. Two census csv's covering the population by age by
#by state and the population by ethnicity by state
#the OPTN data is combined age, ethnicity by state

census_age_csv = "csv/all-states-age_ACSDT1Y2021.B01001A-2023-05-23T032718.csv"
census_eth_csv = "csv/all-states-ethnicities_DECENNIALPL2020.P2-2023-05-23T032847.csv"
optn_age_eth_csv = "csv/May-22-Waitlist_Candidate_State_of_Residence_by_Age_Ethnicity_Waiting_Time.csv"

#create dataframes from each csv
census_age_df = pd.read_csv(census_age_csv)
census_eth_df = pd.read_csv(census_eth_csv)
optn_age_eth_df = pd.read_csv(optn_age_eth_csv)

In [22]:
census_age_df.head()

,Label (Grouping),United States!!Estimate,United States!!Margin of Error,Alabama!!Estimate,Alabama!!Margin of Error,Alaska!!Estimate,Alaska!!Margin of Error,Arizona!!Estimate,Arizona!!Margin of Error,Arkansas!!Estimate,...,Virginia!!Estimate,Virginia!!Margin of Error,Washington!!Estimate,Washington!!Margin of Error,West Virginia!!Estimate,West Virginia!!Margin of Error,Wisconsin!!Estimate,Wisconsin!!Margin of Error,Puerto Rico!!Estimate,Puerto Rico!!Margin of Error
0,Total:,"202,981,791","±124,967","3,281,881","±9,108","435,004","±3,285","4,241,669","±22,497","2,115,847",...,"5,251,112","±13,199","5,139,448","±14,384","1,617,386","±4,044","4,732,002","±8,956","914,840","±20,303"
1,Male:,"100,721,875","±70,974","1,609,702","±5,390","229,752","±2,148","2,110,162","±13,742","1,045,395",...,"2,614,659","±8,980","2,582,532","±7,957","801,721","±4,027","2,367,865","±5,053","433,808","±11,289"
2,Under 5 years,"4,948,268","±16,515","83,827","±1,539","11,682",±880,"93,920","±3,464","55,670",...,"127,120","±3,507","119,060","±2,077","39,663","±1,850","112,263","±1,371","13,534","±2,116"
3,5 to 9 years,"5,370,610","±37,860","88,219","±3,229","11,086","±1,697","106,585","±4,272","60,165",...,"140,124","±5,054","132,699","±4,717","42,394","±3,029","117,559","±3,551","21,500","±2,781"
4,10 to 14 years,"5,870,506","±36,113","99,071","±3,419","13,932","±1,674","107,119","±4,310","68,477",...,"152,009","±5,545","141,560","±5,107","49,844","±3,270","139,406","±3,487","25,263","±3,244"

In [23]:
#drop columns with margin of error
census_age_df_drop = census_age_df[census_age_df.columns.drop(list(census_age_df.filter(regex='!!Margin of Error')))]
census_age_df_drop.head()

,Label (Grouping),United States!!Estimate,Alabama!!Estimate,Alaska!!Estimate,Arizona!!Estimate,Arkansas!!Estimate,California!!Estimate,Colorado!!Estimate,Connecticut!!Estimate,Delaware!!Estimate,...,South Dakota!!Estimate,Tennessee!!Estimate,Texas!!Estimate,Utah!!Estimate,Vermont!!Estimate,Virginia!!Estimate,Washington!!Estimate,West Virginia!!Estimate,Wisconsin!!Estimate,Puerto Rico!!Estimate
0,Total:,"202,981,791","3,281,881","435,004","4,241,669","2,115,847","15,443,776","4,101,383","2,354,580","609,759",...,"722,723","5,097,360","14,129,750","2,647,741","588,142","5,251,112","5,139,448","1,617,386","4,732,002","914,840"
1,Male:,"100,721,875","1,609,702","229,752","2,110,162","1,045,395","7,739,344","2,071,289","1,153,416","295,365",...,"366,175","2,506,559","7,033,907","1,337,725","292,003","2,614,659","2,582,532","801,721","2,367,865","433,808"
2,Under 5 years,"4,948,268","83,827","11,682","93,920","55,670","346,062","96,707","46,793","12,475",...,"19,668","130,599","393,491","89,397","12,216","127,120","119,060","39,663","112,263","13,534"
3,5 to 9 years,"5,370,610","88,219","11,086","106,585","60,165","355,229","103,515","52,981","13,802",...,"22,298","143,343","445,560","103,667","14,330","140,124","132,699","42,394","117,559","21,500"
4,10 to 14 years,"5,870,506","99,071","13,932","107,119","68,477","417,390","123,335","59,907","14,668",...,"22,927","144,002","461,009","107,652","15,348","152,009","141,560","49,844","139,406","25,263"

In [33]:
#rename columns without the '!!Estimate'
census_age_df_drop.columns = census_age_df_drop.columns.str.replace('!!Estimate', '')
census_age_df_drop.columns

Index(['Label (Grouping)', 'United States', 'Alabama', 'Alaska', 'Arizona',
       'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Puerto Rico'],
      dtype='object')

In [34]:
census_age_df_drop.head(40)

,Label (Grouping),United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Puerto Rico
0,Total:,"202,981,791","3,281,881","435,004","4,241,669","2,115,847","15,443,776","4,101,383","2,354,580","609,759",...,"722,723","5,097,360","14,129,750","2,647,741","588,142","5,251,112","5,139,448","1,617,386","4,732,002","914,840"
1,Male:,"100,721,875","1,609,702","229,752","2,110,162","1,045,395","7,739,344","2,071,289","1,153,416","295,365",...,"366,175","2,506,559","7,033,907","1,337,725","292,003","2,614,659","2,582,532","801,721","2,367,865","433,808"
2,Under 5 years,"4,948,268","83,827","11,682","93,920","55,670","346,062","96,707","46,793","12,475",...,"19,668","130,599","393,491","89,397","12,216","127,120","119,060","39,663","112,263","13,534"
3,5 to 9 years,"5,370,610","88,219","11,086","106,585","60,165","355,229","103,515","52,981","13,802",...,"22,298","143,343","445,560","103,667","14,330","140,124","132,699","42,394","117,559","21,500"
4,10 to 14 years,"5,870,506","99,071","13,932","107,119","68,477","417,390","123,335","59,907","14,668",...,"22,927","144,002","461,009","107,652","15,348","152,009","141,560","49,844","139,406","25,263"
5,15 to 17 years,"3,604,515","61,015","7,187","68,816","42,259","247,849","69,106","39,188","9,040",...,"14,647","90,631","273,753","69,883","9,897","88,824","82,034","28,958","85,848","17,064"
6,18 and 19 years,"2,476,033","39,245","5,210","47,019","26,368","169,846","49,552","31,664","6,749",...,"9,850","59,994","179,744","38,830","9,331","66,808","52,171","20,415","60,403","13,782"
7,20 to 24 years,"6,127,327","99,922","14,609","123,516","65,842","435,682","128,042","73,157","15,369",...,"23,140","155,532","441,899","108,718","20,557","171,589","149,971","50,736","149,462","29,833"
8,25 to 29 years,"6,363,644","97,794","15,834","132,802","60,064","497,915","157,931","67,275","16,500",...,"21,988","166,687","468,571","99,406","17,353","172,601","175,145","45,452","142,099","28,883"
9,30 to 34 years,"6,646,260","99,019","18,047","135,406","66,043","571,271","167,098","66,186","19,235",...,"22,778","167,426","492,752","88,886","17,926","173,136","194,417","45,574","142,393","22,862"
10,35 to 44 years,"12,865,851","200,941","33,222","254,702","132,870","1,044,124","304,983","133,080","34,181",...,"46,214","320,000","953,739","187,485","35,031","344,159","361,495","101,725","299,949","54,395"
11,45 to 54 years,"12,545,380","206,146","28,298","249,730","127,820","977,250","258,300","147,865","34,416",...,"40,780","325,214","861,398","148,231","35,405","330,477","327,742","102,082","293,586","56,234"
12,55 to 64 years,"14,541,508","232,671","33,420","291,206","142,542","1,140,402","269,184","195,478","46,978",...,"52,361","352,394","911,763","130,020","44,889","373,497","362,567","114,299","369,638","54,703"
13,65 to 74 years,"12,013,334","188,404","25,868","288,660","120,493","933,164","225,815","146,499","44,981",...,"45,685","283,721","722,398","104,912","38,359","293,527","307,772","102,158","292,290","49,540"
14,75 to 84 years,"5,605,945","90,312","8,996","166,955","60,841","450,226","89,096","67,499","21,627",...,"18,671","132,301","334,919","45,272","16,089","138,937","133,040","46,777","124,511","34,851"
15,85 years and over,"1,742,694","23,116","2,361","43,726","15,941","152,934","28,625","25,844","5,344",...,"5,168","34,715","92,911","15,366","5,272","41,851","42,859","11,644","38,458","11,364"
16,Female:,"102,259,916","1,672,179","205,252","2,131,507","1,070,452","7,704,432","2,030,094","1,201,164","314,394",...,"356,548","2,590,801","7,095,843","1,310,016","296,139","2,636,453","2,556,916","815,665","2,364,137","481,032"
17,Under 5 years,"4,724,545","79,300","10,670","94,116","51,982","343,437","92,131","43,988","12,831",...,"20,301","123,318","379,986","83,715","11,850","123,320","111,185","37,776","106,109","17,659"
18,5 to 9 years,"5,110,344","85,043","12,343","97,688","55,336","356,997","101,929","51,536","14,167",...,"21,802","131,061","418,691","98,750","11,901","133,323","123,796","42,402","117,566","19,575"
19,10 to 14 years,"5,550,866","97,231","11,770","106,200","63,745","382,030","108,194","56,094","14,353",...,"20,951","142,926","443,020","100,833","15,941","140,342","134,907","45,650","127,741","25,620"
20,15 to 17 years,"3,391,672","57,671","7,444","62,583","36,507","241,387","66,108","38,852","9,235",...,"12,889","88,625","263,338","61,939","9,288","86,773","79,355","26,986","81,123","13,083"
21,18 and 19 years,"2,395,435","40,350","4,316","46,865","27,137","167,059","46,331","31,393","7,105",...,"10,017","57,405","165,221","39,406","8,645","67,295","48,730","17,704","56,819","11,657"
22,20 to 24 years,"5,865,231","97,109","10,231","115,664","60,179","406,610","116,967","70,028","14,214",...,"20,586","152,706","432,333","106,278","19,217","152,416","136,233","48,924","148,258","31,888"
23,25 to 29 years,"6,148,894","96,672","13,737","124,274","61,642","474,081","146,341","64,779","16,640",...,"19,601","163,011","458,145","94,369","16,994","160,047","163,051","44,509","135,402","27,579"
24,30 to 34 years,"6,513,135","100,822","16,942","128,293","65,424","534,620","157,590","64,491","19,599",...,"21,373","167,585","485,990","88,895","17,070","169,096","183,692","45,609","135,118","27,212"
25,35 to 44 years,"12,523,450","201,884","29,446","241,457","132,019","967,642","281,355","133,599","34,142",...,"43,380","321,925","927,794","181,101","35,348","337,955","343,902","99,815","287,031","55,828"
26,45 to 54 years,"12,272,890","208,286","24,078","240,707","128,993","913,779","245,090","150,754","35,475",...,"37,953","327,706","834,732","140,831","35,553","323,846","309,059","100,232","283,860","61,870"
27,55 to 64 years,"14,857,646","239,333","29,323","309,731","147,579","1,125,601","276,118","200,220","51,718",...,"51,174","370,181","927,862","130,677","46,289","380,101","365,241","117,866","366,116","64,551"
28,65 to 74 years,"13,070,816","209,681","23,581","318,638","135,273","1,001,105","239,554","160,929","50,598",...,"44,632","318,077","795,284","110,155","40,352","321,864","333,854","111,098","301,599","63,531"
29,75 to 84 years,"6,873,608","117,099","9,312","180,036","74,939","542,863","111,157","87,716","25,209",...,"19,742","164,794","401,688","53,826","19,782","169,720","160,773","54,581","147,142","43,412"
30,85 years and over,"2,961,384","41,698","2,059","65,255","29,697","247,221","41,229","46,785","9,108",...,"12,147","61,481","161,759","19,241","7,909","70,355","63,138","22,513","70,253","17,567"
31,Combined Male Female:,"202,981,791","3,281,881","435,004","4,241,669","2,115,847","15,443,776","4,101,383","2,354,580","609,759",...,"722,723","5,097,360","14,129,750","2,647,741","588,142","5,251,112","5,139,448","1,617,386","4,732,002","914,840"
32,Under 5 years,"9,672,813","163,127","22,352","188,036","107,652","689,499","188,838","90,781","25,306",...,"39,969","253,917","773,477","173,112","24,066","250,440","230,245","77,439","218,372","31,193"
33,5 to 9 years,"10,480,954","173,262","23,429","204,273","115,501","712,226","205,444","104,517","27,969",...,"44,100","274,404","864,251","202,417","26,231","273,447","256,495","84,796","235,125","41,075"
34,10 to 14 years,"11,421,372","196,302","25,702","213,319","132,222","799,420","231,529","116,001","29,021",...,"43,878","286,928","904,029","208,485","31,289","292,351","276,467","95,494","267,147","50,883"
35,15 to 17 years,"6,996,187","118,686","14,631","131,399","78,766","489,236","135,214","78,040","18,275",...,"27,536","179,256","537,091","131,822","19,185","175,597","161,389","55,944","166,971","30,147"
36,18 and 19 years,"4,871,468","79,595","9,526","93,884","53,505","336,905","95,883","63,057","13,854",...,"19,867","117,399","344,965","78,236","17,976","134,103","100,901","38,119","117,222","25,439"
37,20 to 24 years,"11,992,558","197,031","24,840","239,180","126,021","842,292","245,009","143,185","29,583",...,"43,726","308,238","874,232","214,996","39,774","324,005","286,204","99,660","297,720","61,721"
38,25 to 29 years,"12,512,538","194,466","29,571","257,076","121,706","971,996","304,272","132,054","33,140",...,"41,589","329,698","926,716","193,775","34,347","332,648","338,196","89,961","277,501","56,462"
39,30 to 34 years,"13,159,395","199,841","34,989","263,699","131,467","1,105,891","324,688","130,677","38,834",...,"44,151","335,011","978,742","177,781","34,996","342,232","378,109","91,183","277,511","50,074"

In [40]:
#drop rows with separated male and female numbers. Use the index to drop certain rows
#number of rows to drop is 31
census_age_df_droprows = census_age_df_drop.iloc[31:]
census_age_df_droprows.head(20)

,Label (Grouping),United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Puerto Rico
31,Combined Male Female:,"202,981,791","3,281,881","435,004","4,241,669","2,115,847","15,443,776","4,101,383","2,354,580","609,759",...,"722,723","5,097,360","14,129,750","2,647,741","588,142","5,251,112","5,139,448","1,617,386","4,732,002","914,840"
32,Under 5 years,"9,672,813","163,127","22,352","188,036","107,652","689,499","188,838","90,781","25,306",...,"39,969","253,917","773,477","173,112","24,066","250,440","230,245","77,439","218,372","31,193"
33,5 to 9 years,"10,480,954","173,262","23,429","204,273","115,501","712,226","205,444","104,517","27,969",...,"44,100","274,404","864,251","202,417","26,231","273,447","256,495","84,796","235,125","41,075"
34,10 to 14 years,"11,421,372","196,302","25,702","213,319","132,222","799,420","231,529","116,001","29,021",...,"43,878","286,928","904,029","208,485","31,289","292,351","276,467","95,494","267,147","50,883"
35,15 to 17 years,"6,996,187","118,686","14,631","131,399","78,766","489,236","135,214","78,040","18,275",...,"27,536","179,256","537,091","131,822","19,185","175,597","161,389","55,944","166,971","30,147"
36,18 and 19 years,"4,871,468","79,595","9,526","93,884","53,505","336,905","95,883","63,057","13,854",...,"19,867","117,399","344,965","78,236","17,976","134,103","100,901","38,119","117,222","25,439"
37,20 to 24 years,"11,992,558","197,031","24,840","239,180","126,021","842,292","245,009","143,185","29,583",...,"43,726","308,238","874,232","214,996","39,774","324,005","286,204","99,660","297,720","61,721"
38,25 to 29 years,"12,512,538","194,466","29,571","257,076","121,706","971,996","304,272","132,054","33,140",...,"41,589","329,698","926,716","193,775","34,347","332,648","338,196","89,961","277,501","56,462"
39,30 to 34 years,"13,159,395","199,841","34,989","263,699","131,467","1,105,891","324,688","130,677","38,834",...,"44,151","335,011","978,742","177,781","34,996","342,232","378,109","91,183","277,511","50,074"
40,35 to 44 years,"25,389,301","402,825","62,668","496,159","264,889","2,011,766","586,338","266,679","68,323",...,"89,594","641,925","1,881,533","368,586","70,379","682,114","705,397","201,540","586,980","110,223"
41,45 to 54 years,"24,818,270","414,432","52,376","490,437","256,813","1,891,029","503,390","298,619","69,891",...,"78,733","652,920","1,696,130","289,062","70,958","654,323","636,801","202,314","577,446","118,104"
42,55 to 64 years,"29,399,154","472,004","62,743","600,937","290,121","2,266,003","545,302","395,698","98,696",...,"103,535","722,575","1,839,625","260,697","91,178","753,598","727,808","232,165","735,754","119,254"
43,65 to 74 years,"25,084,150","398,085","49,449","607,298","255,766","1,934,269","465,369","307,428","95,579",...,"90,317","601,798","1,517,682","215,067","78,711","615,391","641,626","213,256","593,889","113,071"
44,75 to 84 years,"12,479,553","207,411","18,308","346,991","135,780","993,089","200,253","155,215","46,836",...,"38,413","297,095","736,607","99,098","35,871","308,657","293,813","101,358","271,653","78,263"
45,85 years and over,"4,704,078","64,814","4,420","108,981","45,638","400,155","69,854","72,629","14,452",...,"17,315","96,196","254,670","34,607","13,181","112,206","105,997","34,157","108,711","28,931"

In [43]:
#rename column "Label (Grouping)"
census_age_df_droprows = census_age_df_droprows.rename(columns={'Label (Grouping)': 'Age'})

#the below is for when I'm ready to reset the index
#census_age_df_index = census_age_df_droprows.reset_index(drop=True)
census_age_df_droprows.head(20)

,Age,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Puerto Rico
31,Combined Male Female:,"202,981,791","3,281,881","435,004","4,241,669","2,115,847","15,443,776","4,101,383","2,354,580","609,759",...,"722,723","5,097,360","14,129,750","2,647,741","588,142","5,251,112","5,139,448","1,617,386","4,732,002","914,840"
32,Under 5 years,"9,672,813","163,127","22,352","188,036","107,652","689,499","188,838","90,781","25,306",...,"39,969","253,917","773,477","173,112","24,066","250,440","230,245","77,439","218,372","31,193"
33,5 to 9 years,"10,480,954","173,262","23,429","204,273","115,501","712,226","205,444","104,517","27,969",...,"44,100","274,404","864,251","202,417","26,231","273,447","256,495","84,796","235,125","41,075"
34,10 to 14 years,"11,421,372","196,302","25,702","213,319","132,222","799,420","231,529","116,001","29,021",...,"43,878","286,928","904,029","208,485","31,289","292,351","276,467","95,494","267,147","50,883"
35,15 to 17 years,"6,996,187","118,686","14,631","131,399","78,766","489,236","135,214","78,040","18,275",...,"27,536","179,256","537,091","131,822","19,185","175,597","161,389","55,944","166,971","30,147"
36,18 and 19 years,"4,871,468","79,595","9,526","93,884","53,505","336,905","95,883","63,057","13,854",...,"19,867","117,399","344,965","78,236","17,976","134,103","100,901","38,119","117,222","25,439"
37,20 to 24 years,"11,992,558","197,031","24,840","239,180","126,021","842,292","245,009","143,185","29,583",...,"43,726","308,238","874,232","214,996","39,774","324,005","286,204","99,660","297,720","61,721"
38,25 to 29 years,"12,512,538","194,466","29,571","257,076","121,706","971,996","304,272","132,054","33,140",...,"41,589","329,698","926,716","193,775","34,347","332,648","338,196","89,961","277,501","56,462"
39,30 to 34 years,"13,159,395","199,841","34,989","263,699","131,467","1,105,891","324,688","130,677","38,834",...,"44,151","335,011","978,742","177,781","34,996","342,232","378,109","91,183","277,511","50,074"
40,35 to 44 years,"25,389,301","402,825","62,668","496,159","264,889","2,011,766","586,338","266,679","68,323",...,"89,594","641,925","1,881,533","368,586","70,379","682,114","705,397","201,540","586,980","110,223"
41,45 to 54 years,"24,818,270","414,432","52,376","490,437","256,813","1,891,029","503,390","298,619","69,891",...,"78,733","652,920","1,696,130","289,062","70,958","654,323","636,801","202,314","577,446","118,104"
42,55 to 64 years,"29,399,154","472,004","62,743","600,937","290,121","2,266,003","545,302","395,698","98,696",...,"103,535","722,575","1,839,625","260,697","91,178","753,598","727,808","232,165","735,754","119,254"
43,65 to 74 years,"25,084,150","398,085","49,449","607,298","255,766","1,934,269","465,369","307,428","95,579",...,"90,317","601,798","1,517,682","215,067","78,711","615,391","641,626","213,256","593,889","113,071"
44,75 to 84 years,"12,479,553","207,411","18,308","346,991","135,780","993,089","200,253","155,215","46,836",...,"38,413","297,095","736,607","99,098","35,871","308,657","293,813","101,358","271,653","78,263"
45,85 years and over,"4,704,078","64,814","4,420","108,981","45,638","400,155","69,854","72,629","14,452",...,"17,315","96,196","254,670","34,607","13,181","112,206","105,997","34,157","108,711","28,931"

In [ ]:
import numpy as np
#put this at the top

In [5]:
optn_age_eth_df.head()

,Age,Ethnicities,Wait Time,All Patient States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,All Ages,All Ethnicities,All Time,"114,059","1,638",142,"1,156",485,"21,066","1,151",...,323,"2,149","11,181",613,159,"3,339","1,479",407,"1,506",97
1,All Ages,All Ethnicities,< 30 Days,"5,234",39,4,81,32,671,59,...,17,110,490,44,5,153,72,31,77,5
2,All Ages,All Ethnicities,30 to < 90 Days,"9,368",92,10,116,59,"1,202",116,...,20,176,"1,015",80,7,319,109,47,146,15
3,All Ages,All Ethnicities,90 Days to < 6 Months,"10,151",167,12,155,68,"1,311",87,...,24,208,993,74,20,336,139,59,141,12
4,All Ages,All Ethnicities,6 Months to < 1 Year,"17,886",337,13,206,93,"2,544",216,...,48,415,"1,898",116,25,582,264,82,253,15