In [98]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sqlite3
from sqlite3 import Error

In [99]:
#create database connection
conn = sqlite3.connect('optn_census.db')
c = conn.cursor()

In [100]:
census_e = pd.read_csv('output/census_eth_df_drop_t.csv')
census_a = pd.read_csv('output/census_age_final_t.csv')

In [102]:
census_e.to_sql('ethnicities_census', conn, if_exists='append', index = False)
census_a.to_sql('ages_census', conn, if_exists='append', index = False)

/Users/kathleen/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [119]:
data = c.execute("SELECT * FROM ages_census WHERE Age = 'Alabama'")

for record in data:
    print(record)

('Alabama', 3281881, 197779, 177870, 275728, 670933, 610041, 679220, 670310)

In [123]:
data = c.execute("SELECT * FROM ethnicities_census WHERE Ethnicities = 'Alabama'")

for record in data:
    print(record)

('Alabama', 5024279, 264047, 3171351, 1288159, 23119, 75918, 2612, 184618)

In [97]:
data_census = c.execute("SELECT * FROM census_ages WHERE Alabama > 1 AND Age = '0-5 years'")

for record in data_census:
    print(record)

(1, '0-5 years', '11,769,004', '197,779', '27,038', '228,891', '130,752', '831,944', '229,927', '111,684', '30,900', '14,057', '604,141', '326,871', '14,132', '107,222', '452,866', '344,147', '174,642', '145,484', '242,016', '166,683', '64,255', '166,684', '236,122', '430,667', '270,594', '102,101', '298,675', '54,986', '103,558', '77,991', '60,876', '282,695', '49,994', '626,798', '363,157', '45,196', '558,533', '159,162', '162,998', '529,055', '35,794', '184,087', '48,789', '308,798', '946,327', '213,595', '29,312', '305,129', '281,544', '94,398', '265,397', '39,408')
(1, '0-5 years', '11,769,004', '197,779', '27,038', '228,891', '130,752', '831,944', '229,927', '111,684', '30,900', '14,057', '604,141', '326,871', '14,132', '107,222', '452,866', '344,147', '174,642', '145,484', '242,016', '166,683', '64,255', '166,684', '236,122', '430,667', '270,594', '102,101', '298,675', '54,986', '103,558', '77,991', '60,876', '282,695', '49,994', '626,798', '363,157', '45,196', '558,533', '159,162', '162,998', '529,055', '35,794', '184,087', '48,789', '308,798', '946,327', '213,595', '29,312', '305,129', '281,544', '94,398', '265,397', '39,408')
(1, '0-5 years', '11,769,004', '197,779', '27,038', '228,891', '130,752', '831,944', '229,927', '111,684', '30,900', '14,057', '604,141', '326,871', '14,132', '107,222', '452,866', '344,147', '174,642', '145,484', '242,016', '166,683', '64,255', '166,684', '236,122', '430,667', '270,594', '102,101', '298,675', '54,986', '103,558', '77,991', '60,876', '282,695', '49,994', '626,798', '363,157', '45,196', '558,533', '159,162', '162,998', '529,055', '35,794', '184,087', '48,789', '308,798', '946,327', '213,595', '29,312', '305,129', '281,544', '94,398', '265,397', '39,408')

In [83]:
# Close Session
conn.commit()
conn.close()